<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Commands" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Commands>
    <add key="PLACE" value="int,int,opt-string"/>
    <add key="MOVE" value=""/>
    <add key="LEFT" value=""/>
    <add key="RIGHT" value=""/>
    <add key="REPORT" value=""/>  
  </Commands>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="validCommmand" value="PLACE,MOVE,LEFT,RIGHT,REPORT"/>
  </appSettings>
</configuration>